$red : yellow;
$Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
$bg: hsl(236, 33%, 92%);
$text-color: hsl(235, 19%, 35%);
$Font_size: 18px;
$Font_Family: "Josefin Sans", sans-serif;
$Check_Background: linear-gradient(
    hsl(192, 100%, 67%) to hsl(280, 87%, 65%)
  );
$input-bg: #25273C;
$Very_Light_Gray: hsl(0, 0%, 98%);
$bg_dark: hsl(235, 21%, 11%);